.box {
    align-content: center;
    width: 200px;
    height: 200px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
}

.box > .up {
    width: 50px;
    height: 10px;
}

.ubox {
    width: 40px;
    height: 30px;
    background-color: black;
    padding: 20px;
    margin: 20px;
}

.ubox2 {
    width: 40px;
    height: 30px;
    background-color: black;
    border: solid;
    border-width: .5px;
    padding: 20px;
    margin: 20px;
}

.dbox {
    width: 40px;
    height: 30px;
    background-color: black;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 86px;
    top: -30px;
}

.dbox2 {
    width: 40px;
    height: 30px;
    background-color: black;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 86px;
    top: -30px;
}

.ubox > :nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    transform: rotate(10deg);
    border-radius: 10px;
}

.ubox2 > :nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    transform: rotate(-10deg);
    border-radius: 10px;
}

.dbox2 > :nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    transform: rotate(10deg);
    border-radius: 10px;
}

.dbox > :nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    transform: rotate(-10deg);
    border-radius: 10px;
}